body {
    background: #fff8f0;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 35px;
    border-radius: 28px;
    box-shadow: 0 15px 50px rgba(230, 126, 34, 0.15);
    width: 480px;
}

h1 { color: #d35400; text-align: center; margin-bottom: 25px; font-weight: 500; }

.var-label { font-weight: bold; color: #d35400; }

.variable-selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0 auto 25px auto;
    width: 66%; 
}

.var-box {
    background: #fef9f3;
    border: 1px solid #fae5d3;
    border-radius: 10px;
    padding: 6px;
    flex: 1;
    display: flex;
    transition: 0.3s;
}

.error-field {
    background-color: #fadbd8 !important;
    border: 2px solid #e74c3c !important;
}

.var-box input {
    width: 100%;
    border: none;
    background: transparent;
    text-align: center;
    font-size: 18px;
    color: #d35400;
    font-weight: bold;
    outline: none;
}

.input-container {
    background: #fef9f3;
    border-radius: 12px;
    padding: 12px 20px;
    margin-bottom: 12px;
    border: 1px solid #fae5d3;
}

.dynamic-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

input[type="text"] {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    color: #5d4037;
    width: 100%;
}

.measure-span { position: absolute; visibility: hidden; height: 0; white-space: pre; font-size: 18px; }
.floating-equal { position: absolute; color: #e67e22; font-weight: bold; font-size: 18px; pointer-events: none; }

.toolbar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    margin: 25px 0;
}

button {
    background: white;
    border: 1.5px solid #f5cba7;
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Rubik';
    font-size: 13px;
    transition: 0.2s;
}

button:hover { background: #fdf2e9; transform: translateY(-2px); }

.solve-btn {
    width: 100%;
    background: #e67e22;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.solve-btn:hover { background: #d35400; box-shadow: 0 5px 15px rgba(211, 84, 0, 0.3); }

.result-box {
    margin-top: 25px;
    padding: 20px;
    background: #fff3e0;
    border-radius: 18px;
    color: #5d4037;
    text-align: center;
    min-height: 40px;
    font-family: 'Rubik';
}

.footer {
    margin-top: 25px;
    font-size: 13px;
    color: #a1887f; /* Un tono café suave para que combine con tu diseño */
    text-align: center;
    border-top: 1px solid #fae5d3;
    padding-top: 15px;
    font-style: italic;
}